
.whoWeAre{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    background-color: var(--dark);
    height: 210vh;
    margin-bottom: 20px;
}

.whoWeAre__counter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}
.counter__icon{
    display: none;
}

.counter__index{
    color: var(--secondary-shades-index);
    margin-right: 30px;
}

.counter__paragraph{
    color: var(--white);
}

.whoWeAre__box{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17%;
}

.whoWeAre__title{
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    width: 70%;
}

.whoWeAre__navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.whoWeAre__arrows{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.whoWeAre__navigation--on{
    background-color: var(--primary-color);
}

.whoWeAre__navigation--off{
    background-color: var(--dark);
}

.navigation__arrowLeft, .navigation__arrowRight{
    height: 48px;
    width: 48px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.whoWeAre__select{
    height: 48px;
    width: 144px;
    background-color: var(--dark);
    border-radius: 8px;
    border: none;
    color: var(--white);
}
.whoWeAre_years{
    cursor: pointer;
}

.computer__item{
    cursor: pointer;
}

.computer{
    width: 100%;
}

.computer__img{
    width: 100%;
}
.computer__nav{
    display: none;
}

.contents-number{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.line{
    display: none;
}

.contents{
    width: 90%;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

.contents__title{
    color: var(--white);
    font-weight:700;
    font-size: 1.5rem;
    width: 90%;
    line-height: 32px;
}

.contents__paragraph{
    width: 87%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: var(--secondary-shades);
}

.contents__btn{
    height: 56px;
    width: 160px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    line-height: 22px;
    font-size: 1rem;
    font-weight: 600;
}

.number{
    height: 310px;
    width: 310px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 23px 51px 0px #0000003d;
}

.number__title{
    color: var(--white);
    font-weight: 600;
    font-size: 8.8rem;
}

.number__paragraph{
    font-size: 1.12rem;
    color: var(--white);
}
.whatWeDo--desktop{
    display: none;
}

@media screen and (min-width:768px){
    .whoWeAre{
        background-image: url("../imgs/home/main/who-we-are/computerDesktop.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 100px -230px;
        height: 150vh;
    }
    .counter__index{
        margin-left: 100px;
    }
    .whoWeAre__select{
        display: none;
    }
    .whoWeAre__title{
        width: 60%;
    }
    .whoWeAre__navigation{
        width: 15%;
        align-self: flex-start;
    }
    .whoWeAre__arrows{
        width: 100%;
    }
    .whoWeAre__box{
        flex-direction: row;
        align-items: center;
        height: 20vh;
    }
    .computer{
        display: flex;
    }
    .computer__nav{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60vh;
        width: 10vw;
    }
    .computer__img{
        display: none;
    }
    .computer__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }
    .computer__item{
        color: var(--secondary-shades-index);
    }
    .computer__item:hover{
        color: var(--white);
    }
    .contents-number{   
        flex-direction: row;
        width: 90%;
        align-self: flex-end;
    }
    .line{
        display: block;
        height: 56.89px;
        width: 1.42px;
        background-color: var(--line);
        margin-top: 50px;
        position: relative;
        right: 50px;
        align-self: flex-start;
    }
    .contents{
        width: 55%;
    }
    .contents__title{
        width: 85%;
    }
    .contents__paragraph{
        width: 100%;
    }
    .whatWeDo--desktop{
        display: flex;
        flex-direction: column;
    }
    .counter__icon{
        display: flex;
    }
}

@media screen and (min-width:1024px) {
    .ul__item--notification{
        right: 40px;
        bottom: 10px;
    }
}

@media screen and (min-width:1440px) {
    .ul__item--notification{
        right: 70px;
        bottom: 10px;
    }
}

@media screen and (min-width:2560px) {
    .ul__item--notification{
        right: 160px;
        bottom: 10px;
    }
}