

* {
    font-family: 'Roboto', sans-serif;
}

.callToAction{
    background-image: url("../imgs/cta/phone.svg");
    background-size: 90% 100%;
    background-repeat: no-repeat;
    background-position: 60px top;
    height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.callToAction__index{
    display: flex;
    align-items: flex-end;
    color: var(--white);
    height: 5%;
    width: 40%;
}

.callToAction__counter{
    margin-right: 20px;
}

.callToAction__content--title{
    color: var(--white);
    width: 75%;
    font-weight: 700;
    line-height: 56px;
    font-size: 3rem;
}

.callToAction__content{
    width: 80%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
}

.link__button{
    display: flex;
    align-self: center;
    text-decoration: none;
    width: 50%;
}

.content__button{
    height: 46px;
    width: 143px;
    border-radius: 8px;
    background-color: var(--white);
    color: var(--primary-color);
    border: none;
    font-weight: 600;
}

@media screen and (min-width: 320px) {
    .callToAction{
        background-size: 110% 100%;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .callToAction__content--title{
        width: 100%;
    }
    .callToAction__index{
        width: 80%;
    }
    .link__button{
        width: 100%;
    }
}

@media screen and (min-width: 375px){
    .callToAction__index{
        width: 60%;
    }
    .callToAction__content--title{
        width: 90%;
    }
    .link__button{
        width: 80%;
    }
}

@media screen and (min-width:768px){
    .callToAction{
        background-image: url("../imgs/cta/phone-desktop.svg");
        background-size: 100% 100%;
        background-position: center;
        height: 50vh;
    }
    .callToAction__index{
        align-self: flex-end;
        align-items: flex-end;
        height: 10%;
        width: 55%;
    }
    .callToAction__content{
        width: 55%;
        align-items: flex-start;
        align-self: flex-end;
        height: 90%;
    }
    .link__button{
        align-self: flex-start;
    }
    .content__title{
        font-size: 3rem;
    }
    .callToAction__content--title{
        width: 60%;
    }
}

@media screen and (min-width: 1440px) {
    .callToAction{
        height: 80vh;
    }
    .callToAction__content--title{
        font-size: 4rem;
        width: 50%;
        line-height: 72px;
    }
}