/* font-family: 'Roboto', sans-serif; */

:root{
    --secondary-shades: #8B8B8B;
    --secondary-shades-index: #ADADAD;
    --primary-color:#5468E7;
    --list-notification:linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
    --list-menu-open: #595976;
    --white:#FFFFFF;
    --dark: #232340;
    --paragraph: #606060;
}

* {
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../imgs/home/header/string.svg");
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 12.27vh;
}

.header__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 33%;
}
.link__title {
    display: flex;
}

.header__nav{
    display: none;
}
.ul__link{
    text-decoration: none;
}
.ul__item{
    cursor: pointer;
}

.ul__item--notification{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: var(--list-notification);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    right: 20px;
    bottom: 10px;
}

/* .header__menu{

} */

.header__block{
    display: none;
    cursor: pointer;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main__nav--open{
    width: 100%;
    height: 70vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.nav__list--open{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50vh;
    justify-content: space-evenly;
    align-items: flex-start;
}

.nav__link{
    text-decoration: none;
}

.ul__item--open{
    color: var(--list-menu-open);
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
}
.ul__item--open:hover{
    color: var(--white);
}

.socialMedia{
    display: none;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.socialMedia__division{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 60%;
}

.socialMedia__border{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;   
    border-radius: 100%; 
    background-color: transparent;
    border: 1px solid #D8D8D8;
}

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    background-image: url("../imgs/home/main/notebook.svg");
    background-repeat: no-repeat;
    background-size: 800px 500px;
    background-position: -250px 200px;
}
.hero__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 50vh;    
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    width: 70%;
    color: var(--dark);
}

.content__paragraph{
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    color: var(--paragraph);
    width: 80%;
}

.content__btn {
    color: var(--white);
    background-color: var(--primary-color);
    height: 56px;
    width: 160px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    line-height: 22px;
    cursor: pointer;
}

.notebook {
    width: 100%;
    object-position: -60px 0px;
    object-fit: cover;
}
.swipe {
    display: none;
}

.whoWeAre{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    background-color: var(--dark);
    height: 210vh;
}

.whoWeAre__counter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}
.counter__icon{
    display: none;
}

.counter__index{
    color: var(--secondary-shades-index);
    margin-right: 30px;
}

.counter__paragraph{
    color: var(--white);
}

.whoWeAre__box{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
}

.whoWeAre__title{
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    width: 70%;
}

.whoWeAre__navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.whoWeAre__arrows{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.whoWeAre__navigation--on{
    background-color: var(--primary-color);
}

.whoWeAre__navigation--off{
    background-color: var(--dark);
}

.navigation__arrowLeft, .navigation__arrowRight{
    height: 48px;
    width: 48px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whoWeAre__select{
    height: 48px;
    width: 144px;
    background-color: var(--dark);
    border-radius: 8px;
    border: none;
    color: var(--white);
}

.computer{
    width: 100%;
}

.computer__img{
    width: 100%;
}
.computer__nav{
    display: none;
}

.contents-number{
    display: flex;
    align-items: center;
    flex-direction: column
}

.contents{
    width: 90%;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

.contents__title{
    color: var(--white);
    font-weight:700;
    font-size: 1.5rem;
    width: 90%;
    line-height: 32px;
}

.contents__paragraph{
    width: 87%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: var(--secondary-shades);
}

.contents__btn{
    height: 56px;
    width: 160px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    line-height: 22px;
    font-size: 1rem;
    font-weight: 600;
}

.number{
    height: 310px;
    width: 310px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 23px 51px 0px #0000003d;
}

.number__title{
    color: var(--white);
    font-weight: 600;
    font-size: 8.8rem;
}

.number__paragraph{
    font-size: 1.12rem;
    color: var(--white);
}

@media screen and (min-width:768px) {
    .header__title{
        width: 15%;
    }
    .header__nav{
        display: block;
        width: 50%;
    }
    .header__menu{
        display: none;
    }
    .nav__list{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;       
    }
    .ul__item{
        color: var(--secondary-shades);
        font-weight: 600;
        font-size: 1rem;
    }
    .ul__item:hover{
        color: var(--primary-color);
    }
    .header__block{
        display: block;
        cursor: pointer;
    }       
    .button__contact{
        background-color: var(--dark);
        width: 160px;
        height: 56px;
        color: white;
        font-size: 1rem;
        line-height: 22px;
        font-weight: 600;
        border-radius: 8px;
        border: none;      
        cursor: pointer;   
    }
    h1{
        width: 50%; 
        font-size: 4rem;
    }
    .content__paragraph{
        width: 45%;
    }
    .hero{
        background-size: 120vh 130vw;
        background-position: -100px -200px;
    }
    .hero__content{
        height: 80%;
    }
    .link{
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: start;
        width: 30%;
    }
    .swipe{
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
    }
    .swipe__img{
        margin-right: 15px;
    }
    .swipe__paragraph{
        width: 45%;
        color: var(--secondary-shades);
        line-height: 22px;
    }
    .counter__icon{
        display: block;
    }
    .whoWeAre{
        background-image: url("../imgs/home/main/who-we-are/computerDesktop.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 100px -250px;
        height: 150vh;
    }
    .counter__index{
        margin-left: 100px;
    }
    .whoWeAre__select{
        display: none;
    }
    .whoWeAre__title{
        width: 60%;
    }
    .whoWeAre__navigation{
        width: 15%;
        align-self: flex-start;
    }
    .whoWeAre__arrows{
        width: 100%;
    }
    .whoWeAre__box{
        flex-direction: row;
        align-items: center;
        height: 20vh;
    }
    .computer{
        display: flex;
    }
    .computer__nav{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        width: 10vw;
    }
    .computer__img{
        display: none;
    }
    .computer__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }
    .computer__item{
        color: var(--secondary-shades-index);
    }
    .computer__item:hover{
        color: var(--white);
    }
    .contents-number{
        flex-direction: row;
        width: 90%;
    }
    .contents{
        width: 55%;
    }
    .contents__title{
        width: 85%;
    }
    .contents__paragraph{
        width: 100%;
    }
}

@media screen and (min-width:1024px) {
    .ul__item--notification{
        right: 40px;
        bottom: 10px;
    }
}

@media screen and (min-width:1440px) {
    .ul__item--notification{
        right: 70px;
        bottom: 10px;
    }
}

@media screen and (min-width:2560px) {
    .ul__item--notification{
        right: 160px;
        bottom: 10px;
    }
}