
:root{
    --secondary-shades: #8B8B8B;
    --secondary-shades-index: #ADADAD;
    --primary-color:#5468E7;
    --list-notification:linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
    --list-menu-open: #595976;
    --white:#FFFFFF;
    --dark: #232340;
    --paragraph: #606060;
    --background: #EDE5F081;
}

* {
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 12.27vh;
}

.header__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 33%;
}
.link__title {
    display: flex;
}

.header__nav{
    display: none;
}
.ul__link{
    text-decoration: none;
}
.ul__item{
    cursor: pointer;
}

.ul__item--notification{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: var(--list-notification);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    right: 20px;
    bottom: 10px;
}

/* .header__menu{

} */

.header__block{
    display: none;
    cursor: pointer;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main__nav--open{
    width: 100%;
    height: 70vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.nav__list--open{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50vh;
    justify-content: space-evenly;
    align-items: flex-start;
}

.nav__link{
    text-decoration: none;
}

.ul__item--open{
    color: var(--list-menu-open);
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
}
.ul__item--open:hover{
    color: var(--white);
}

.socialMedia{
    display: none;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.socialMedia__division{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 60%;
}

.socialMedia__border{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;   
    border-radius: 100%; 
    background-color: transparent;
    border: 1px solid #D8D8D8;
}

.whatWeDo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}

.index{
    width: 85%; 
}

.index__icon{
    display: none;
}

.index__block{
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.index__counter{
    margin-left: 0px;
    margin-right: 15px;
}

.index__counter, .index__title{
    font-size: 0.9rem;
    font-weight: 600;
}


/* .index__title{

} */

.title-nav{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title__main{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    width: 65%;
}

.nav__navigation--on{
    background-color: var(--primary-color);
}

.nav__navigation--off{
    background-color: var(--dark);
}

.navigation__arrowLeft, .navigation__arrowRight{
    height: 48px;
    width: 48px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.nav__arrows{   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}
.serviceCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.serviceCard__services{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 190px;
    width: 311px;
    border-radius: 32px;
    background-color: var(--white);
    
}
.serviceCard__services:hover{
    background-color: var(--primary-color);
    transition: 0.5s;
    transform: scale(1.05);
}
.serviceCard__services:hover > .serviceCard__title{
    color: var(--white);
    transition: 0.5s;
}

.serviceCard__title{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.13rem;
    line-height: 24px;
}


@media screen and (min-width:768px) {
    .header__title{
        width: 15%;
    }
    .header__nav{
        display: block;
        width: 50%;
    }
    .header__menu{
        display: none;
    }
    .nav__list{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;       
    }
    .ul__item{
        color: var(--secondary-shades);
        font-weight: 600;
        font-size: 1rem;
    }
    .ul__item:hover{
        color: var(--primary-color);
    }
    .header__block{
        display: block;
        cursor: pointer;
    }       
    .button__contact{
        background-color: var(--dark);
        width: 160px;
        height: 56px;
        color: white;
        font-size: 1rem;
        line-height: 22px;
        font-weight: 600;
        border-radius: 8px;
        border: none;      
        cursor: pointer;   
    }
    .index__icon{
        display: block;
    }
    .index__counter{
        margin-left: 100px;
    }
    .title-nav{
        flex-direction: row;
    }
    .nav__arrows{
        width: 20%;
    }
    .serviceCard{
        flex-direction: row;
        width: 90%;
        gap: 0px;
    }
    .serviceCard__services{
        flex-direction: column;
        height: 340px;
        width: 25%;
    }
}

@media screen and (min-width:1024px) {
    .ul__item--notification{
        right: 40px;
        bottom: 10px;
    }
    
}

@media screen and (min-width:1440px) {
    .ul__item--notification{
        right: 70px;
        bottom: 10px;
    }
}

@media screen and (min-width:2560px) {
    .ul__item--notification{
        right: 160px;
        bottom: 10px;
    }
}